/* primarycolor:rgba(23, 45, 109)
   sub: rgba(35, 59, 126) */


html {
    height: 100%;
}

body {
   
    font-family: Lato;
}

#content {
    text-align: center;
    padding-top: 2%;
    text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 
                 0 8px 13px rgba(0, 0, 0, 0.1), 
                 0 18px 23px rgba(0, 0, 0, 0.1);
}

h1 {
    font-weight: 700;
    color: azure;
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 10px;
    animation: moveDown 1s ease-out;
}

h3 {
    color: azure;
    animation: moveUp 1s ease-out;
    margin-top: 0px;
}

hr {
  width: 400px;
ã€€background-color: rgba(35, 59, 126);
  max-width: 90%;
  animation: moveInRight 1s ease-out;
  margin-bottom: 40px;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

/* header */
.header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    box-shadow: 0 2px 10px rgba(211, 211, 211, 0.8)
}

.navbar-default {
    background: #fff;
    border: none;
}

.navbar-brand {
    font-family: 'Niconne', cursive;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
    text-transform: uppercase;         
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #777;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #e7e7e7;
}

.dropdown-menu>li>a {
    text-transform: uppercase;
    margin: 1px 0;
}

/* End of header */

/* Carousel */
.carousel-indicators{
    top: 5px;
}

.carousel-indicators li {
    border: 1px solid #e7e7e7;
    
}

.carousel-indicators .active {
    background-color: #e7e7e7;
}
/* End of Carousel */

 

/* Button -learn more*/
.learnMore {
    margin-bottom: 5%;
}

.button:link,
.button:visited {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    transition: all .2s;
    border: 2px solid black;
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(6, 26, 86, 0.2);
    color: black;
}

.button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(6, 26, 86, 0.5);
}


.button-white {
    background-color: #fff;
    padding: 15px 40px;
    display: inline-block;
}
.button {
    text-shadow: none;
    color: black;
    width: 250px;
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 1.5px
}
/* End of Button -learn more*/

/* footer*/

footer {
    background: #262627;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

footer #content {
    padding-top: 9.6px;
}

footer p {
    line-height: 10px ;
    color: #4e4f50;
    text-shadow: none;
    padding: 5px 0 ;
    font-size: 10px;
}
/* end of footer*/

/* Animation*/
@keyframes moveDown {
0%{
    opacity: 0;
    transform: translateY(-100px);
}

80%{
    transform: translateY(10px);
}

100% {
    opacity: 1;
    transform: translateY(0);
}
}

@keyframes moveUp {
0%{
    opacity: 0;
    transform: translateY(100px);
}

80%{
    transform: translateY(-10px);
}

100% {
    opacity: 1;
    transform: translateY(0);
}
}

@keyframes moveInRight {
0%{
    opacity: 0;
    transform: translateX(-100px);
}

80%{
    transform: translateX(-10px);
}

100% {
    opacity: 1;
    transform: translateX(0);
}
}

@keyframes fadeIn {
0%{
    opacity: 0;
}

100% {
    opacity: 1;
}
}
/* End of Animation*/
