/*
0 - 600px:    phone
600 - 900px:  tablet portrait
900 - 1200px: tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :    big desktop

$breakpoint argument choices:
- phone
- tab-port
-tab-land
-big-desktop

ORDER: Base + typography > general layout + grid < page layout > component

1em = 16px
*/
/* Animation*/
@keyframes moveDown {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  80% {
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(6rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes growthRight {
  0% {
    width: 0;
    opacity: 0; }
  80% {
    opacity: 0.8; }
  100% {
    width: 80%;
    opacity: 1; } }

@keyframes growthDown {
  0% {
    height: 0;
    opacity: 0; }
  80% {
    opacity: 0.8; }
  100% {
    height: 80%;
    opacity: 1; } }

/* End of Animation*/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5% !important; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25% !important; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50% !important; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75% !important; } }

body {
  box-sizing: border-box; }

body {
  font-family: Lato; }

h2 {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 700; }
  @media only screen and (max-width: 75em) {
    h2 {
      font-size: 4.8rem; } }

.heading__third {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: .3rem;
  display: block;
  padding: 1rem 0;
  color: #414040; }

.section__contact-titile {
  font-size: 1.5rem;
  color: #414040;
  margin-bottom: .5rem;
  display: inline-block;
  letter-spacing: 1px;
  font-weight: 500; }

.section__contact-info {
  letter-spacing: 1px;
  font-weight: 300;
  color: #414040; }

#content {
  text-align: center;
  padding-top: 2%; }

.margin-bottom-big {
  margin-bottom: 8rem; }

.margin-bottom-medium {
  margin-bottom: 6rem; }

.margin-bottom-small {
  margin-bottom: 4rem; }

.margin-bottom-xsmall {
  margin-bottom: 2rem; }

.let-space-small {
  letter-spacing: 1px; }

.border-bottom {
  border-bottom: 1px solid #999; }

/* Button -learn more*/
.button {
  text-shadow: none;
  color: black;
  width: 25rem;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 1.5px; }
  .button:link, .button:visited {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    transition: all .2s;
    border: 2px solid black; }
  .button:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(6, 26, 86, 0.2);
    color: black; }
  .button:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(6, 26, 86, 0.5); }

.button-white {
  background-color: #fff;
  padding: 1.5rem 4rem;
  display: inline-block; }

.button-text:link, .button-text:visited {
  font-size: .8rem;
  color: #777;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #777;
  padding: 3px;
  transition: all .2s;
  margin-left: 1rem;
  text-transform: uppercase;
  animation: fadeIn 1s ease-in-out;
  animation-delay: 3s;
  animation-fill-mode: backwards; }

.button-text:hover {
  background-color: black;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.button-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.button-contact {
  text-shadow: none;
  color: black;
  width: 20rem;
  height: 5rem;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  padding: 1rem 2rem;
  line-height: 2.5rem;
  background-color: #fff;
  display: inline-block;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  transition: all .2s; }
  .button-contact:link, .button-contact:visited {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    border: 2px solid black; }
  .button-contact:hover {
    background-color: black;
    color: #fff;
    position: absolute;
    bottom: 2.5rem; }
  .button-contact:active {
    position: absolute;
    bottom: 2.2rem; }

.button-submit {
  text-shadow: none;
  color: black;
  width: 8rem;
  height: 3rem;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-size: .8rem;
  letter-spacing: 1.5px;
  padding: .6rem 1rem;
  line-height: 1.5rem;
  background-color: #fff;
  display: inline-block;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
  transition: all .2s; }
  .button-submit:link, .button-submit:visited {
    text-transform: uppercase;
    text-decoration: none;
    color: #414040;
    border: 0.15rem solid black; }
  .button-submit:hover {
    background-color: black;
    color: #fff; }
  .button-submit:active {
    transform: translateY(1.5px); }

/* End of Button -learn more*/
.form__input {
  border: none;
  font-size: 1.5rem;
  padding: .8rem 1rem;
  font-family: inherit;
  background-color: rgba(231, 231, 231, 0.2);
  display: block;
  width: 37.4rem;
  margin: 0 0 1rem 9rem; }
  @media only screen and (max-width: 75em) {
    .form__input {
      margin: 0 0 1rem 6.6rem; } }
  @media screen and (max-width: 992px) {
    .form__input {
      margin: 0 0 1rem 1.6rem;
      width: 90%; } }
  @media only screen and (max-width: 56.25em) {
    .form__input {
      margin: 0 0 1rem 5rem;
      width: 70%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.1);
    border-bottom: 1.5px solid #999; }

.form__textarea {
  border: none;
  padding: .8rem 1rem;
  font-size: 1.5rem;
  display: block;
  font-family: inherit;
  background-color: rgba(231, 231, 231, 0.2);
  margin: 0 auto 1rem auto;
  display: block;
  width: 37.4rem; }
  @media screen and (max-width: 992px) {
    .form__textarea {
      width: 90%; } }
  @media only screen and (max-width: 56.25em) {
    .form__textarea {
      width: 70%;
      margin-bottom: 1.5rem; } }
  .form__textarea:focus {
    outline: none;
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.1);
    border-bottom: 1.5px solid #999; }

.form__group {
  text-align: center; }

/* footer*/
footer {
  background: #262627;
  /*position: absolute;
    bottom: 0;
    left: 0;
    right: 0;*/ }
  footer #content {
    padding-top: 9.6px; }
  footer p {
    line-height: 1rem;
    color: #4e4f50;
    text-shadow: none;
    padding: .5rem 0;
    font-size: 1rem; }

/* end of footer*/
/* nav */
.header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  box-shadow: 0 2px 1rem rgba(211, 211, 211, 0.8); }

.navbar-default {
  background: #fff;
  border: none; }

.navbar-brand {
  font-family: 'Niconne', cursive;
  font-weight: 400;
  letter-spacing: 1.5px; }

.navbar-default .navbar-nav > li > a {
  color: #777;
  text-transform: uppercase; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #777; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #e7e7e7; }

.dropdown-menu > li > a {
  text-transform: uppercase;
  margin: 1px 0; }

/* End of header */
.section__portfolio-horizontal {
  margin-top: 2rem; }
  .section__portfolio-horizontal .container {
    height: 65rem;
    padding-right: 1.5rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
    box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: max-content minmax(26rem, 1fr);
    grid-template-rows: repeat(2, 1fr); }
    @media screen and (max-width: 992px) {
      .section__portfolio-horizontal .container {
        grid-template-rows: 40vw 1fr; } }
  .section__portfolio-horizontal-img {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    padding-top: 1.5rem; }
    @media only screen and (max-width: 56.25em) {
      .section__portfolio-horizontal-img {
        padding-right: 3px; } }
    .section__portfolio-horizontal-img-1 {
      margin: 0 auto;
      display: block;
      width: 90%; }
      @media screen and (max-width: 992px) {
        .section__portfolio-horizontal-img-1 {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          padding-right: 0rem; } }
  .section__portfolio-horizontal-content {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: auto 0;
    background-color: white;
    padding-left: 5.6rem;
    line-height: .8;
    animation: moveInRight linear 1s; }
    @media only screen and (max-width: 75em) {
      .section__portfolio-horizontal-content {
        margin-top: 3rem; } }
    @media screen and (max-width: 992px) {
      .section__portfolio-horizontal-content {
        padding-left: 0;
        margin-top: 3rem; } }
    .section__portfolio-horizontal-content h2 {
      margin-top: 1rem; }
      .section__portfolio-horizontal-content h2::after {
        content: "";
        display: block;
        height: .8rem;
        width: 6rem;
        background-color: #e8c56f; }
    .section__portfolio-horizontal-content p {
      font-size: 1.5rem; }
  .section__portfolio-horizontal-model {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #141E30;
    margin-bottom: 1.5rem;
    margin-right: 5.7rem;
    margin-left: 3rem;
    animation: growthRight linear .8s;
    animation-delay: 1s;
    animation-fill-mode: backwards; }
    @media only screen and (max-width: 75em) {
      .section__portfolio-horizontal-model {
        width: 84%; } }
    @media screen and (max-width: 992px) {
      .section__portfolio-horizontal-model {
        width: 90.5%; } }
    @media only screen and (max-width: 56.25em) {
      .section__portfolio-horizontal-model {
        width: 92%; } }

.section__portfolio-vertical {
  margin-top: 2rem; }
  .section__portfolio-vertical .container {
    height: 65rem;
    padding-right: 1.5rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
    box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 40vw;
    grid-template-rows: 30vw repeat(2, 1fr);
    grid-column-gap: 1rem;
    /*@include respond(tab-land) {
            display: grid;
            grid-template-rows:30vw repeat(2, 1fr);            
        }*/ }
  .section__portfolio-vertical-img {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    padding: 1.5rem; }
    .section__portfolio-vertical-img-1 {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .section__portfolio-vertical-content {
    grid-column: 2 / 3;
    grid-row: 1 / span 2;
    margin: 36rem 0;
    background-color: #fff;
    line-height: .8;
    animation: moveDown linear 1s; }
    @media only screen and (max-width: 75em) {
      .section__portfolio-vertical-content {
        margin: 35rem 0; } }
    @media screen and (max-width: 992px) {
      .section__portfolio-vertical-content {
        margin: 30rem 0; } }
    @media only screen and (max-width: 56.25em) {
      .section__portfolio-vertical-content {
        margin: 30rem 0; } }
    .section__portfolio-vertical-content h2::after {
      content: "";
      display: block;
      height: .8rem;
      width: 6rem;
      background-color: #e8c56f; }
    .section__portfolio-vertical-content p {
      font-size: 1.5rem; }
  .section__portfolio-vertical-model {
    grid-column: 2 / 3;
    grid-row: 3 / -1;
    width: 100%;
    background-color: #141E30;
    margin: 0 1.5rem 1.5rem -2.4rem;
    animation: growthDown linear .5s;
    animation-delay: 1.5s;
    animation-fill-mode: backwards; }

.section__about {
  margin-top: 2rem; }
  .section__about--left {
    width: 20%;
    height: 100%;
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    left: 0;
    border-radius: 1rem 0 0 1rem; }
    @media only screen and (max-width: 75em) {
      .section__about--left {
        width: 15%; } }
    .section__about--left img {
      filter: brightness(110%); }
    .section__about--left-image {
      width: 25rem;
      height: 25rem;
      position: absolute;
      top: 25%;
      left: 50%;
      z-index: 100;
      border-radius: 3px;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5); }
      @media only screen and (max-width: 75em) {
        .section__about--left-image {
          width: 20rem;
          height: 20rem; } }
  .section__about .container {
    position: relative;
    height: 65rem;
    background: #fff;
    margin-top: -1rem;
    margin-bottom: 1rem;
    box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, 0.15);
    border-radius: 1rem; }
  .section__about--right {
    width: 80%;
    background-color: #fff;
    height: 100%;
    position: absolute;
    right: 0;
    border-radius: 0 1rem 1rem 0; }
    @media only screen and (max-width: 75em) {
      .section__about--right {
        width: 85%; } }
    .section__about--right-content {
      margin-left: 15rem;
      margin-top: 4rem;
      padding: 5rem 5rem;
      text-align: justify;
      text-justify: inter-word; }
      @media only screen and (max-width: 75em) {
        .section__about--right-content {
          margin-top: 5rem; } }
      .section__about--right-content h2 {
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: .3rem;
        color: #414040; }
      .section__about--right-content p {
        height: 40rem;
        padding-right: 4rem;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid #e7e7e7;
        line-height: 2.8rem;
        letter-spacing: .1rem;
        font-weight: 400; }

.section__contact {
  margin-top: 2rem; }
  .section__contact .container {
    position: relative;
    height: 65rem;
    background: #fff;
    margin-top: -1rem;
    margin-bottom: 1rem;
    box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    overflow: hidden; }
  .section__contact--left {
    position: relative;
    width: 40rem;
    background-color: #e7e7e7;
    height: 100%;
    margin-left: -1.5rem; }
  .section__contact-button {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center; }
  .section__contact--profile {
    height: 30%;
    width: 400px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: -1px;
    text-align: center;
    padding: 2rem;
    overflow: hidden;
    transition: all .5s;
    transform: perspective(50rem) scale(0);
    transition: all .5s; }
    @media only screen and (max-width: 56.25em) {
      .section__contact--profile {
        padding: 2.2rem; } }
    .section__contact--profile.popup {
      transform: perspective(50rem) scale(1);
      box-shadow: -2rem 0 5rem rgba(0, 0, 0, 0.3); }
    .section__contact--profile h3 {
      margin-top: 0; }
      @media only screen and (max-width: 56.25em) {
        .section__contact--profile h3 {
          padding: .5rem;
          margin-top: 1rem;
          margin-bottom: 1rem !important;
          display: block !important; } }
    .section__contact--profile ul {
      display: flex; }
      .section__contact--profile ul li {
        list-style: none;
        font-size: 2rem;
        width: 33.3%; }
  .section__contact--close {
    font-size: 2rem;
    color: #777;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer; }
    .section__contact--close:hover {
      color: black; }
  .section__contact--right {
    width: 50%;
    height: 32rem;
    background-color: #fff;
    border: 0.5px solid #e7e7e7;
    border-radius: 3px;
    position: absolute;
    right: 8%;
    top: 25%;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.3);
    animation: moveDown 1.5s ease-in-out; }
    @media only screen and (max-width: 75em) {
      .section__contact--right {
        right: 4.4%; } }
    @media screen and (max-width: 992px) {
      .section__contact--right {
        right: 0;
        height: 50rem;
        width: 36.5rem;
        box-shadow: none;
        border: none; } }
    @media only screen and (max-width: 56.25em) {
      .section__contact--right {
        right: 0;
        height: 50rem;
        width: 36.5rem;
        box-shadow: none;
        border: none; } }
  .section__contact h3 {
    border-bottom: 0.5px solid #999;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .section__contact h3 {
        font-size: 2.2rem;
        margin-bottom: 2rem;
        letter-spacing: 1.3px; } }

/* Carousel */
.carousel-indicators {
  top: 5px; }
  .carousel-indicators li {
    border: 1px solid #e7e7e7; }
  .carousel-indicators .active {
    background-color: #e7e7e7; }

.learnMore {
  margin-bottom: 9.2rem; }
  @media only screen and (max-width: 75em) {
    .learnMore {
      margin-top: 3rem; } }

/* End of Carousel */
.statement {
  margin-top: 2rem;
  backface-visibility: hidden; }
  .statement__left {
    background-image: url(../image/time-404x645.jpg);
    background-size: cover;
    display: block;
    height: 65rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    border-radius: 10px 0 0 10px; }
    @media only screen and (max-width: 768px) {
      .statement__left {
        background-position: center;
        -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%); } }
  .statement__right--container {
    width: 80%;
    margin: 3rem auto; }
    .statement__right--container h2 {
      margin-top: 25%;
      margin-bottom: 0;
      padding: 1rem 1rem;
      font-weight: 700;
      letter-spacing: .3rem;
      width: 70%;
      text-transform: uppercase;
      animation: moveInRight 1.5s ease-out;
      color: #414040; }
      @media only screen and (max-width: 75em) {
        .statement__right--container h2 {
          margin-top: 25%;
          margin-bottom: 0; } }
      @media only screen and (max-width: 56.25em) {
        .statement__right--container h2 {
          margin-top: 20%;
          margin-bottom: 0; } }
    .statement__right--container p {
      color: #414040;
      letter-spacing: .1rem;
      padding: 0 1rem;
      text-align: justify;
      text-justify: inter-word;
      font-weight: 400;
      line-height: 2.8rem;
      animation: moveInRight 1.5s ease-out;
      animation-delay: 1.5s;
      animation-fill-mode: backwards; }
  .statement .container {
    height: 65rem;
    background: #fff;
    margin-top: -1rem;
    box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-bottom: 1rem; }

/*@media screen and (max-width: 375px) {
     section .container {
         height: 300px;
     }
        
}*/
