/* Animation*/
@keyframes moveDown {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  80% {
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* End of Animation*/
*,
*::after,
*::before {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: Lato; }

.statement__left {
  background: blue;
  display: block;
  height: 87vh; }

.statement__main {
  margin-top: 30%;
  padding: 1rem 1rem;
  font-weight: 700;
  letter-spacing: 1px; }
  .statement__main--content {
    padding: 0 1rem;
    text-justify: inter-word;
    font-size: 1.6rem;
    line-height: 2.4rem; }

#content {
  text-align: center;
  padding-top: 2%; }

/* Button -learn more*/
.button {
  text-shadow: none;
  color: black;
  width: 25rem;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 1.5px; }
  .button:link, .button:visited {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    transition: all .2s;
    border: 2px solid black; }
  .button:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(6, 26, 86, 0.2);
    color: black; }
  .button:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(6, 26, 86, 0.5); }

.button-white {
  background-color: #fff;
  padding: 1.5rem 4rem;
  display: inline-block; }

/* End of Button -learn more*/
/* footer*/
footer {
  background: #262627;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }
  footer #content {
    padding-top: 9.6px; }
  footer p {
    line-height: 1rem;
    color: #4e4f50;
    text-shadow: none;
    padding: .5rem 0;
    font-size: 1rem; }

/* end of footer*/
/* nav */
.header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  box-shadow: 0 2px 1rem rgba(211, 211, 211, 0.8); }

.navbar-default {
  background: #fff;
  border: none; }

.navbar-brand {
  font-family: 'Niconne', cursive;
  font-weight: 400;
  letter-spacing: 1.5px; }

.navbar-default .navbar-nav > li > a {
  color: #777;
  text-transform: uppercase; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #777; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #e7e7e7; }

.dropdown-menu > li > a {
  text-transform: uppercase;
  margin: 1px 0; }

/* End of header */
/* Carousel */
.carousel-indicators {
  top: 5px; }
  .carousel-indicators li {
    border: 1px solid #e7e7e7; }
  .carousel-indicators .active {
    background-color: #e7e7e7; }

/* End of Carousel */
section .container {
  height: 87vh;
  background: #e7e7e7;
  margin-top: -1rem; }

/*@media screen and (max-width: 375px) {
     section .container {
         height: 300px;
     }
        
}*/
