/* Animation*/
@keyframes moveDown {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  80% {
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* End of Animation*/
*,
*::after,
*::before {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: Lato; }

.statement__main {
  margin-top: 30%;
  padding: 1rem 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  width: 70%;
  background: #fff;
  text-transform: uppercase;
  animation: moveInRight 1.5s ease-out; }
  .statement__main--content {
    padding: 0 1rem;
    text-justify: inter-word;
    font-size: 1.6rem;
    line-height: 2.8rem;
    animation: moveInRight 1.5s ease-out;
    animation-delay: 1.5s;
    animation-fill-mode: backwards; }

.heading__third {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: .3rem;
  display: block;
  padding: 1rem 0; }

.section__contact-titile {
  font-size: 1.5rem;
  color: black;
  margin-bottom: .5rem;
  display: inline-block;
  letter-spacing: 1px; }

#content {
  text-align: center;
  padding-top: 2%; }

.margin-bottom-big {
  margin-bottom: 8rem; }

.margin-bottom-medium {
  margin-bottom: 6rem; }

.margin-bottom-small {
  margin-bottom: 4rem; }

.margin-bottom-xsmall {
  margin-bottom: 2rem; }

.let-space-small {
  letter-spacing: 1px; }

.border-bottom {
  border-bottom: 1px solid #999; }

/* Button -learn more*/
.button {
  text-shadow: none;
  color: black;
  width: 25rem;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 1.5px; }
  .button:link, .button:visited {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    transition: all .2s;
    border: 2px solid black; }
  .button:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(6, 26, 86, 0.2);
    color: black; }
  .button:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(6, 26, 86, 0.5); }

.button-white {
  background-color: #fff;
  padding: 1.5rem 4rem;
  display: inline-block; }

.button-text:link, .button-text:visited {
  font-size: .8rem;
  color: #777;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #777;
  padding: 3px;
  transition: all .2s;
  margin-left: 1rem;
  text-transform: uppercase;
  animation: fadeIn 1s ease-in-out;
  animation-delay: 3s;
  animation-fill-mode: backwards; }

.button-text:hover {
  background-color: black;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.button-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.button-contact {
  text-shadow: none;
  color: black;
  width: 20rem;
  height: 5rem;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  padding: 1rem 2rem;
  line-height: 2.5rem;
  background-color: #fff;
  display: inline-block;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  transition: all .2s; }
  .button-contact:link, .button-contact:visited {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    border: 2px solid black; }
  .button-contact:hover {
    background-color: black;
    color: #fff;
    position: absolute;
    bottom: 2.5rem; }
  .button-contact:active {
    position: absolute;
    bottom: 2.2rem; }

/* End of Button -learn more*/
/* footer*/
footer {
  background: #262627;
  /*position: absolute;
    bottom: 0;
    left: 0;
    right: 0;*/ }
  footer #content {
    padding-top: 9.6px; }
  footer p {
    line-height: 1rem;
    color: #4e4f50;
    text-shadow: none;
    padding: .5rem 0;
    font-size: 1rem; }

/* end of footer*/
/* nav */
.header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  box-shadow: 0 2px 1rem rgba(211, 211, 211, 0.8); }

.navbar-default {
  background: #fff;
  border: none; }

.navbar-brand {
  font-family: 'Niconne', cursive;
  font-weight: 400;
  letter-spacing: 1.5px; }

.navbar-default .navbar-nav > li > a {
  color: #777;
  text-transform: uppercase; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #777; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #e7e7e7; }

.dropdown-menu > li > a {
  text-transform: uppercase;
  margin: 1px 0; }

/* End of header */
.section__about {
  margin-top: 2rem; }
  .section__about--left {
    width: 20%;
    height: 100%;
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    left: 0;
    border-radius: 1rem 0 0 1rem; }
    .section__about--left-image {
      width: 25rem;
      height: 25rem;
      position: absolute;
      top: 25%;
      left: 50%;
      z-index: 100;
      border-radius: 3px;
      box-shadow: 0.5rem 1rem 3rem rgba(0, 0, 0, 0.35); }
  .section__about .container {
    position: relative;
    height: 65rem;
    background: #fff;
    margin-top: -1rem;
    margin-bottom: 1rem;
    box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, 0.15);
    border-radius: 1rem; }
  .section__about--right {
    width: 80%;
    background-color: #fff;
    height: 100%;
    position: absolute;
    right: 0;
    border-radius: 0 1rem 1rem 0; }
    .section__about--right-content {
      margin-left: 15rem;
      margin-top: 8rem;
      padding: 5rem 5rem; }
      .section__about--right-content h2 {
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px; }
      .section__about--right-content p {
        height: 40rem;
        padding-right: 4rem;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid #e7e7e7;
        line-height: 2.8rem; }

.section__contact {
  margin-top: 2rem; }
  .section__contact .container {
    position: relative;
    height: 65rem;
    background: #fff;
    margin-top: -1rem;
    margin-bottom: 1rem;
    box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    overflow: hidden; }
  .section__contact--left {
    position: relative;
    width: 40rem;
    background-color: #e7e7e7;
    height: 100%;
    margin-left: -1.5rem; }
  .section__contact-button {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center; }
  .section__contact--profile {
    height: 30%;
    width: 100%;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 2rem;
    overflow: hidden;
    transition: all .5s;
    transform: perspective(50rem) scale(0); }
    .section__contact--profile.popup {
      transform: perspective(50rem) scale(1);
      box-shadow: 0 -0.5rem 6rem rgba(0, 0, 0, 0.3); }
    .section__contact--profile h3 {
      margin-top: 0; }
    .section__contact--profile ul {
      display: flex; }
      .section__contact--profile ul li {
        list-style: none;
        font-size: 2rem;
        width: 33.3%; }
  .section__contact--close {
    font-size: 2rem;
    color: #777;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer; }
    .section__contact--close:hover {
      color: black; }
  .section__contact--right {
    width: 77rem;
    background-color: #e7e7e7;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0; }

/* Carousel */
.carousel-indicators {
  top: 5px; }
  .carousel-indicators li {
    border: 1px solid #e7e7e7; }
  .carousel-indicators .active {
    background-color: #e7e7e7; }

.learnMore {
  margin-bottom: 9.2rem; }

/* End of Carousel */
.statement {
  margin-top: 2rem;
  backface-visibility: hidden; }
  .statement__left {
    background-image: url(../image/time-404x645.jpg);
    background-size: cover;
    display: block;
    height: 64.5rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    border-radius: 10px 0 0 10px; }
  .statement__right--container {
    width: 80%;
    margin: 3rem auto; }
  .statement .container {
    height: 65rem;
    background: #fff;
    margin-top: -1rem;
    box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-bottom: 1rem; }

/*@media screen and (max-width: 375px) {
     section .container {
         height: 300px;
     }
        
}*/
