$color-black: black;
$color-white: #fff;

$color-grey-dark: #777;
$color-grey-medium: #999;
$color-grey-light: #e7e7e7;

$color-blue-dark: #141E30;
$color-blue-light: #243B55;

$color-color-underline: #e8c56f;

$color-footer: #4e4f50;

$color-font: #414040;

