/* footer*/

footer {
    background: #262627;
    /*position: absolute;
    bottom: 0;
    left: 0;
    right: 0;*/
    
    & #content {
        padding-top: 9.6px;
    }
    
    & p {
        line-height: 1rem ;
        color: #4e4f50;
        text-shadow: none;
        padding: .5rem 0 ;
        font-size: 1rem;
    }
}

/* end of footer*/
