///////////////////////////////
//HORIZONTAL PORTFOLIO
.section__portfolio-horizontal {
    margin-top: 2rem;
  
    & .container {
        height: 65rem;
        padding-right: 1.5rem;
        margin-top: -1rem;
        margin-bottom: 1rem;
        box-shadow: 0 1.5rem 6rem rgba($color-black, .15);
        border-radius: 1rem;
        overflow: hidden;
                
        display: grid;
        grid-template-columns: max-content minmax(26rem, 1fr);
        grid-template-rows: repeat(2, 1fr);
        
        @media screen and (max-width: 992px) {
            grid-template-rows: 40vw 1fr;
        }
        
        
        
    }
    
    &-img {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        padding-top: 1.5rem;
        
        @include respond(tab-port) {
            padding-right: 3px;
        }
        
        &-1 {
            margin: 0 auto;
            display: block;
            width: 90%;
            
            @media screen and (max-width: 992px) {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                padding-right: 0rem;
            }
        
        }
    }
    
    &-content {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin: auto 0;
                
        background-color: white; 
        padding-left: 5.6rem; 
        line-height: .8;
        
        animation: moveInRight linear 1s;
        
        @include respond(tab-land) {
            margin-top: 3rem;
        }
        
        @media screen and (max-width: 992px) {
           padding-left: 0;
           margin-top: 3rem;
        }
        
        & h2 {
            margin-top: 1rem;
            
            &::after {
                content: "";
                display: block;
                height: .8rem;
                width: 6rem;
                background-color: $color-color-underline;
        
            }
        }
        
        & p {
            font-size: 1.5rem;
        }
    }
    
    &-model {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        
        background-color: $color-blue-dark;
        margin-bottom: 1.5rem;
        margin-right: 5.7rem;
        margin-left: 3rem;
        
        animation: growthRight linear .8s;
        animation-delay: 1s;
        animation-fill-mode: backwards;
        
        @include respond(tab-land) {
           width: 84%;
        }
        
        @media screen and (max-width: 992px) {
           width: 90.5%;
        }
        
        @include respond(tab-port) {
            width: 92%;
        }
    }
}





///////////////////////////////////
//VERTICAL PORTFOLIO
    .section__portfolio-vertical {
        margin-top: 2rem;
        
        & .container {
        height: 65rem;
        padding-right: 1.5rem;
        margin-top: -1rem;
        margin-bottom: 1rem;
        box-shadow: 0 1.5rem 6rem rgba($color-black, .15);
        border-radius: 1rem;
        overflow: hidden;
                
        display: grid;
        grid-template-columns: 1fr 40vw;
        grid-template-rows: 30vw repeat(2, 1fr);
        grid-column-gap: 1rem;
            
        /*@include respond(tab-land) {
            display: grid;
            grid-template-rows:30vw repeat(2, 1fr);            
        }*/
        
    }
    
    &-img {
        grid-column: 1 / 2;
        grid-row: 1 / -1;
        padding: 1.5rem;
        
        
        &-1 {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    &-content {
        grid-column: 2 / 3;
        grid-row: 1 / span 2;
        margin: 36rem 0;
                
        background-color: $color-white; 
        line-height: .8;
        animation: moveDown linear 1s;
        
        @include respond(tab-land) {
           margin: 35rem 0;            
        }
        
        @media screen and (max-width: 992px) {
            margin: 30rem 0;    
        }
        
        @include respond(tab-port) {
           margin: 30rem 0;            
        }
        
        & h2 {
            
            
            &::after {
                content: "";
                display: block;
                height: .8rem;
                width: 6rem;
                background-color: $color-color-underline;
            }
        }
        
        & p {
            font-size: 1.5rem;
        }
    }
    
    &-model {
        grid-column: 2 / 3;
        grid-row: 3 / -1;
        
        width: 100%;
        background-color: $color-blue-dark;
        margin: 0 1.5rem 1.5rem -2.4rem;
        animation: growthDown linear .5s;
        animation-delay: 1.5s;
        animation-fill-mode: backwards;
    }

}