/* Button -learn more*/

.button {
    text-shadow: none;
    color: black;
    width: 25rem;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        color: $color-black;
        transition: all .2s;
        border: 2px solid black;
    }
    
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(6, 26, 86, 0.2);
        color: black;
    }
    
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba(6, 26, 86, 0.5);
    }
}


.button-white {
    background-color: $color-white;
    padding: 1.5rem 4rem;
    display: inline-block;
}

/* End of Button -learn more*/