/* Button -learn more*/

.button {
    text-shadow: none;
    color: black;
    width: 25rem;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        color: $color-black;
        transition: all .2s;
        border: 2px solid black;
    }
    
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(6, 26, 86, 0.2);
        color: black;
    }
    
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba(6, 26, 86, 0.5);
    }
}


.button-white {
    background-color: $color-white;
    padding: 1.5rem 4rem;
    display: inline-block;
}

.button-text {
    &:link,
    &:visited {
        font-size: .8rem;
        color: $color-grey-dark;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-grey-dark;
        padding: 3px;
        transition: all .2s;
        margin-left: 1rem;
        text-transform: uppercase;
        animation: fadeIn 1s ease-in-out;
        animation-delay: 3s;
        animation-fill-mode: backwards;
    }
    
    &:hover {
        background-color: $color-black;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }
    
    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}

.button-contact {
    text-shadow: none;
    color: black;
    width: 20rem;
    height: 5rem;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    padding: 1rem 2rem;
    line-height: 2.5rem;
    background-color: $color-white;
    display: inline-block;
    box-shadow: 0 .5rem 1rem rgba($color-black, .3);
    transition: all .2s;
    
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        color: $color-black;
        border: 2px solid black;
    }
    
    &:hover{
        background-color: $color-black;
        color: $color-white;
        position: absolute;
        bottom: 2.5rem;
    }
    
    &:active {
        position: absolute;
        bottom: 2.2rem;
    }
   
}

.button-submit {
    text-shadow: none;
    color: black;
    width: 8rem;
    height: 3rem;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    font-size: .8rem;
    letter-spacing: 1.5px;
    padding: .6rem 1rem;
    line-height: 1.5rem;
    background-color: $color-white;
    display: inline-block;
    box-shadow: 0 .2rem 1rem rgba($color-black, .1);
    transition: all .2s;
    
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        color: $color-font;
        border: .15rem solid $color-black;
    }
    
    &:hover{
        background-color: $color-black;
        color: $color-white;
        
        
    }
    
    &:active {
        transform: translateY(1.5px);
       
    }
}

/* End of Button -learn more*/