.form__input {
    border: none;
    font-size: 1.5rem;
    padding: .8rem 1rem;
    font-family: inherit;
    background-color: rgba($color-grey-light, .2);
    display: block;
    width: 37.4rem;
    margin: 0 0 1rem 9rem;
    
    &:focus {
        outline: none;
        box-shadow: 0 .1rem .6rem rgba($color-black, .1);
        border-bottom: 1.5px solid $color-grey-medium;
    }
}



.form__label {
    
}

.form__textarea {
    border: none;
    padding: .8rem 1rem;
    font-size: 1.5rem;
    display: block;
    font-family: inherit;
    background-color: rgba($color-grey-light, .2);
    margin: 0 auto 1rem auto;
    display: block;
    width: 37.4rem;
    
     &:focus {
        outline: none;
        box-shadow: 0 .5rem .8rem rgba($color-black, .1);
        border-bottom: 1.5px solid $color-grey-medium;
    }
}