body {
    
    font-family: Lato;
}

h2 {
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: 700;
    
    @include respond(tab-land) {
        font-size: 4.8rem;
    }
    
    @include respond(phone) {
        font-size: 4.4rem;
    }
    
    @include respond(phone-small) {
        font-size: 3.8rem;
    }
}

.heading__third {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5rem;
    letter-spacing: .1rem;
    display: block;
    padding: 1rem 0;
    color: $color-font
        
    
}

.section__contact-titile {
    font-size: 1.5rem;
    color: $color-font;
    margin-bottom: .5rem;
    display: inline-block;
    letter-spacing: 1px;
    font-weight: 500;
   
}

.section__contact-info {
    letter-spacing: 1px;
    font-weight: 300;
    color: $color-font; 
}