body {
    
    font-family: Lato;
}



.statement__main {
    margin-top: 30%;
    padding: 1rem 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    width: 70%;
    background: $color-white;
    text-transform: uppercase;
    
    &--content {
        padding: 0 1rem;
        text-justify: inter-word;
        font-size: 1.6rem;
        line-height: 2.8rem;
    }
}