body {
    
    font-family: Lato;
}



.statement__main {
    margin-top: 30%;
    padding: 1rem 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    width: 70%;
    background: $color-white;
    text-transform: uppercase;
    animation: moveInRight 1.5s ease-out;
   
    
     
    &--content {
        padding: 0 1rem;
        text-justify: inter-word;
        font-size: 1.6rem;
        line-height: 2.8rem;
        animation: moveInRight 1.5s ease-out;
        animation-delay: 1.5s;
        animation-fill-mode: backwards;
        
    }
}