#content {
    text-align: center;
    padding-top: 2%;
}

.margin-bottom-big {margin-bottom: 8rem; }
.margin-bottom-medium { margin-bottom: 6rem; }
.margin-bottom-small { margin-bottom: 4rem; }
.margin-bottom-xsmall { margin-bottom: 2rem; } 

.let-space-small {letter-spacing: 1px; }


.border-bottom {border-bottom: 1px solid $color-grey-medium;}