.section__about {
    margin-top: 2rem;
    
    
    &--left {
        width: 20%;
        height: 100%;
        background: #141E30;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, $color-blue-light, $color-blue-dark);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, $color-blue-light, $color-blue-dark); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        position: absolute;
        left: 0;
        border-radius: 1rem 0 0 1rem;
        
        @include respond(tab-land) {
                width: 15%;
        }
        
        @include respond(tab-port) {
                width: 15%;
        }
        
        @include respond(phone) {
                display: none;
        }
        
        & img {
            filter: brightness(110%);
        }
        
        &-image {
            width: 25rem;
            height: 25rem;
            position: absolute;
            top: 25%;
            left: 50%;
            z-index: 100;
            border-radius: 3px;
            box-shadow: 0 0 1rem rgba($color-black, .5);
            
            @include respond(tab-land) {
                width: 20rem;
                height: 20rem;
            }   
            
        }
    }
    
    & .container {
        position: relative;
        height: 65rem;
        background: $color-white;
        margin-top: -1rem;
        margin-bottom: 1rem;
        box-shadow: 0 1.5rem 6rem rgba($color-black, .15);
        border-radius: 1rem;
    }
    
    &--right {
        width: 80%;
        background-color: $color-white;
        height: 100%;
        position: absolute;
        right: 0;
        border-radius: 0 1rem 1rem 0;
        
        @include respond(tab-land) {
                width: 85%;
        }
        
        @include respond(tab-phone) {
                width: 100%;
            
        }
        
        &-content {
            margin-left: 15rem;
            margin-top: 4rem;
            padding: 5rem 5rem;
            text-align: justify;
            text-justify: inter-word;
            
            @include respond(tab-land) {
                margin-top: 5rem;
            }
            
             @include respond(tab-port) {
                padding-top: 2rem;
            } 
            
            @include respond(phone) {
               margin: auto;
               margin-left: -7rem;
               padding-top: 6rem;
            }
            
            @include respond(iphone7-plus) {
                padding: 4rem 2rem;
                margin-left: -3.5rem;
                  
            }
            
            @include respond(phone-small) {
               padding: 2rem 1rem;
               
            }
            
            & h2 {
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: .3rem;
                color: $color-font;
            }
             
            & p {
                height: 40rem;
                padding-right:4rem;
                column-count: 2;
                column-gap: 4rem;
                column-rule: 1px solid $color-grey-light;
                line-height: 2.8rem;
                letter-spacing: .1rem;
                font-weight: 400;
                
                @include respond(iphone7-plus) {
                    column-count: unset;
                    
                }
                
                @include respond(phone-small) {
                    column-count: unset;
                    
                }
            }
        } 
    }
}