.section__contact {
    margin-top: 2rem;
  
    & .container {
        position: relative;
        height: 65rem;
        background: $color-white;
        margin-top: -1rem;
        margin-bottom: 1rem;
        box-shadow: 0 1.5rem 6rem rgba($color-black, .15);
        border-radius: 1rem;
        overflow: hidden;
        
         
    }
    
      
    &--left {
        position: relative;
        width: 40rem;
        height: 100%;
        margin-left: -1.5rem;
        
        @include respond(phone) {
             display: none;
        } 
        
        & img {
            
            @include respond(tab-land) {
              width: 40rem;
              height: 100%;
            }
        }
        
    }
    
    &-button {
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        
    }
    
    &--profile {
        height: 30%;
        width: 400px;
        background-color: $color-white;
        position: absolute;
        bottom: 0;
        left: -1px;
        text-align: center;
        padding: 2rem;
        overflow: hidden;
        transition: all .5s;
        transform:perspective(50rem) scale(0);
        transition: all .5s;
        
        @include respond(tab-land) {
             padding: 2.2rem;
             width: 360px;
             
        }
        
        @include respond(tab-port) {
             padding: 2.2rem;
             width: 320px;
             
        }
        
        &.popup {
            transform:perspective(50rem) scale(1);
            box-shadow: -2rem 0 5rem rgba($color-black, .3);
        }
         
        & h3 {
            margin-top: 0;
            
            @include respond(tab-port) {
                padding: .5rem;
                margin-top: 1rem;
                margin-bottom: 1rem !important;
                display: block !important;
            }
        }
        
        & ul {
            display: flex;
            
            & li {
                list-style: none;
                font-size: 2rem;
                width: 33.3%;
                
                @include respond(tab-land) {
                    margin-top: -.5rem;
                }
                
                @include respond(tab-port) {
                    margin-top: -1rem;
                }
            }
        }
    }
     
    &--close {
        font-size: 2rem;
        color: $color-grey-dark;
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
        
        @include respond(tab-land) {
            top: 1.5rem;
            right: 1.5rem;
             
        }
        
        &:hover {
            color: $color-black;
        }
    }
    
    &--right {
        width: 50%;
        
        //background-color: #fff;
        //border: .5px solid $color-grey-light;
        border-radius: 3px;
        position: absolute;
        right: 8%;
        top: 25%;
        padding: 1.5rem;
        //padding-left: 10rem;
        text-align: center;
        box-shadow: 0 2px 4px rgba($color-black, .2);
        animation: moveDown 1.5s ease-in-out;
        
        @include respond(tab-land) {
             right: 4.4%;
        }
        
        @media screen and (max-width:992px) {
            right: 5%;
            height: 50rem;
            width: 36.5rem;
            box-shadow: none;
            border: none;
        }
        
        @include respond(tab-port) {
            margin-right: -6rem;
            height: 50rem;
            width: 60%;
            box-shadow: none;
            border: none;
        }
        
        @include respond(phone) {
            background-color: #fff;
            margin-right: 2.5rem;
            top: 15%;
            width: 80%;
            height: 40rem;
            box-shadow: 0 2px 4px rgba($color-black, .2);
            border: none;
        }
    }
    
    & h3 {
        border-bottom: .5px solid $color-grey-medium;
        display: inline-block;
        
         @include respond(tab-port) {
            font-size: 2.2rem;
             margin-bottom: 2rem;
             letter-spacing: .8px;
        }
    }
     
}

