/* Carousel */
.carousel-indicators{
    top: 5px;
    
    & li {
         border: 1px solid $color-grey-light;
    }
    
    & .active {
        background-color: $color-grey-light;
    }
}

.learnMore {
    margin-bottom: 9.2rem;
    
    @include respond(tab-land) {
        margin-top: 3rem;
    }
}
/* End of Carousel */