section  {
    
    & .container {
        height: 87vh;
        background: $color-grey-light;
        margin-top: -1rem;
    }
   
}

 /*@media screen and (max-width: 375px) {
     section .container {
         height: 300px;
     }
        
}*/