.statement  {
    margin-top: 2rem;
    backface-visibility: hidden;
    
    &__left {
        background-image: url(../image/time-404x645.jpg);
        background-size: cover;
        
        display: block;
        height: 65rem;
        -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
        border-radius: 10px 0 0 10px;
        
        @media only screen and (max-width: 768px) {
            background-position: center;
            -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
        }
    }
    
    &__right--container {
        width: 80%;
        margin: 3rem auto;
        
        & h2 {
            margin-top: 30%;
            padding: 1rem 1rem;
            font-weight: 700;
            letter-spacing: .3rem;
            width: 70%;
            text-transform: uppercase;
            animation: moveInRight 1.5s ease-out;
            color: $color-font;
            
            @include respond(tab-land) {
                margin-top: 25%;
            }
        }
        
         & p {
            color: $color-font;
            letter-spacing: .1rem;
            padding: 0 1rem;
            text-align: justify;
            text-justify: inter-word;
            font-weight: 400;
            line-height: 2.8rem;
            animation: moveInRight 1.5s ease-out;
            animation-delay: 1.5s;
            animation-fill-mode: backwards;
        
        }
    }
    
    & .container {
        height: 65rem;
        background: $color-white;
        margin-top: -1rem;
        box-shadow: 0 1.5rem 6rem rgba($color-black, .15);
        border-radius: 10px;
        margin-bottom: 1rem;
    }
   
}

 /*@media screen and (max-width: 375px) {
     section .container {
         height: 300px;
     }
        
}*/